@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
    .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #ccc; /* Gray color for scrollbar */
      border-radius: 4px; /* Rounded corners for the thumb */
    }
    .chat-area-scrollbar-height::-webkit-scrollbar-thumb {
      height: 100%;
    }
  }

  body {
    padding: 10px;
    box-sizing: border-box;
    /* background-image: url('./assets/photo-1533628635777-112b2239b1c7.avif'); */
    background-color: #075E54;
    /* backdrop-filter: blur(3px); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 100vh; 
  }
  