@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

body {
  padding: 10px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/mainbackground.jpg');
  backdrop-filter: blur(2px); 
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; 
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-color: white; */
}